<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <title>Adria | contrats</title>
</head>
<body>
<main layout:fragment="content">
    <h2 class="mt-2 pt-2 align-self-center text-center display-4">Contrats</h2>
    <div class="container  " style="  margin-top: 5%;">
        <form class="form-inline my-2 my-lg-0" method="get" th:action="@{contrats}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div class="d-flex align-items-center justify-content-center">

            <table class="table table-striped table-bordered table-hover  ">
                <thead>
                <tr class="text-center">
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Client</th>
                    <th scope="col">Cloture</th>
                    <th scope="col" colspan="3">Actions</th>

                </tr>
                </thead>
                <tbody>

                <tr th:each="c:${listContracts}">
                    <th scope="row" th:text="${c.id}"></th>
                    <td th:text="${c.title}"></td>
                    <td th:text="${c.date_souscription}"></td>
                    <td th:text="${c.amount}"></td>
                    <td th:text="${c.client}"></td>
                    <td th:text="${c.cloture}"></td>
                    <td>
                        <button class="btn btn-primary">Edit</button>
                    </td>
                    <td>
                        <a class="btn btn-danger" th:href="@{/adria/contrats/delete(id=${c.id},page=${listContracts.number})} ">Delete</a>
                    </td>
                    <td>
                        <a th:class="${c.cloture?'btn btn-dark' : 'btn btn-success'}" th:text="${c.cloture?'Desactivate' : 'Activate'}"  th:href="@{/adria/activate(id=${c.id},page=${listContracts.number})}"></a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li th:each="i:${#numbers.sequence(0,(listContracts.getTotalPages())-1)}"
                    th:class="${i==listContracts.number ? 'page-item active' :'page-item' }"><a class="page-link"
                                                                                                th:href="@{/adria/contrats(page=${i})}"
                                                                                                th:text="${i}"></a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</main>
</body>
</html>